<!DOCTYPE HTML>
<html>
	<head>
		<title>DeePLAS</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="assets/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/ring.css" />
		<link rel="stylesheet" type="text/css" href="assets/css/index.css" />
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<a href="#" class="image avatar"><img src="images/logo.png" alt="" /></a>
				<h1><strong>DeePLAS</strong><br />
				a powerful political leaning detector<br />
				ONLY FOR TAIWAN PARTIES.(台灣限定) <br />
				Made by NTU CSIE students.</h1>
			</header>

		<!-- Main -->
			<div id="main">

				<!-- One -->
					<section id="one">
						<header class="major">
							<h2 class="tit">What do we do?</h2>
						</header>
						<p class="tit">Using the techniques of information retrieval & Mining, discover your deep political leaning, by answering questions below.</p>

						<button class="button" onclick="loadtest()" id="loadtest">Start evaluating!</button>
						<div class="uil-ring-css" style="-webkit-transform:scale(0.40); display:none;" id="loadring"><div></div></div>

					</section>

				<!-- Two -->
					<section id="two" style="display:none;">
						<h2>Say anything.</h2>
						<div id="input-box">
							<div class="12u$"><textarea class="talk-box" name="message" id="talk-0" placeholder="Say something." rows="4"></textarea></div>
						</div>
						<button type="button" onclick="addInput()" class="btn btn-info btn-circle btn-lg" align="right"><i class="glyphicon glyphicon-plus"></i></button>
					</section>

				<!-- Three -->
					<section id="three" style="display:none;">
						<h4 class="tit">Choose the 1 in 2 you favors more.</h4>
						<div id="select-area">

						</div>
						<ul class="actions">
							<li><button class="button button-info tit" align="center" onclick="eva()">Evaluate!</button></li>
						</ul>
					</section>

				<!-- Four -->
					<section id="four" style="display: none;">
						<h3 class="tit">HOT Result!</h3>
						<canvas id="chart-box" width="400" height="400"></canvas>


					</section>

				<!-- Five -->
					<section id="five">
						<h2 class="tit">Get In Touch</h2>
						<div class="row">
							<div class="col-md-3"><a href="https://github.com/BookGin"><img class="img-thumbnail author" src="images/gin.png" alt="Gin"></img></a></div>
							<div class="col-md-3"><a href="https://github.com/c2251393"><img class="img-thumbnail author" src="images/li.png" alt="Li"></img></a></div>
							<div class="col-md-3"><a href="https://github.com/linamy85"><img class="img-thumbnail author" src="images/amy.jpg" alt="Amy"></img></a></div>
							<div class="col-md-3"><a href="https://github.com/Pomelo0126"><img class="img-thumbnail author" src="images/pomelo.jpg" alt="Pomelo"></img></a></div>
						</div>
						<div class="row tit">
							<div class="col-md-3" align="center"><h5>Book Gin</h5></div>
							<div class="col-md-3" align="center"><h5>AkaiNeko</h5></div>
							<div class="col-md-3" align="center"><h5>Amy Lin</h5></div>
							<div class="col-md-3" align="center"><h5>Pomelo</h5></div>
						</div>
					</section>


			</div>

		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
					<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
					<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; DeePLAS 2016</li>
				</ul>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.poptrox.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/Chart.min.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="assets/js/index.js"></script>

	</body>
</html>
